/* Begin Styles */

body {
background-color:#272521;
cursor:default;
font-family:arial,verdana;
user-select:text;
-khtml-user-select:none;
-moz-user-select:none;
-webkit-user-select:text;
}

#main {
margin:0 auto;
width:650px;
}

#main > header {
font-size:20pt;
font-weight:bold;
margin:20px;
}

#main > header .leftheading {
color:#a39c82;
}

#main > header .rightheading {
color:#fffbef;
}

#nav {
background-color:#665f46;
display:none;
text-align:center;
}

#nav .link {
color:#fff;
display:inline-block;
font-size:18pt;
font-weight:bold;
padding:14px 24px;
text-align:center;
text-decoration:none;
}

#nav .link.selected,
#nav .link:hover {
background-color:#6d664a;
}

#nav .link:active {
background-color:#7c7455;
}

.out #nav .home-link {
display:none;
}

.out #nav .myquotes-link {
display:none;
}

.out #nav .logout-link {
display:none;
}

.in #nav .login-link {
display:none;
}

.in #logoaction {
display:block;
}

.out article > header {
text-align:center;
}

article > header {
background-color:#665f46;
border-top:1px solid #fff;
padding:20px;
}

article > header aside {
cursor:pointer;
display:none;
float:right;
font-size:18pt;
font-weight:bold;
margin-top:3px;
}

article > header aside .leftlogo {
color:#a39c82;
}

article > header aside .rightlogo {
color:#fffbef;
}

article > header aside:hover .leftlogo {
color:#8f886c;
}

article > header label {
color:#faf9ee;
font-size:18pt;
margin-right:6px;
position:relative;
top:4px;
}

article > header #search {
background-color:#877c5a;
border:1px solid #8f886c;
color:#fffdf6;
font-size:14pt;
outline:0;
padding:4px 6px;
}

article > header #search:focus,
article > header #search:hover {
border:1px solid #a39c82;
}

#quotes {
background-color:#363432;
margin:0;
padding:10px;
}

#quotes li {
background-color:#252521;
cursor:default;
list-style:none;
margin:10px;
}

#quotes li:not(:first-child) {
margin-top:20px;
}

#quotes li.new {
display:none;
}

#quotes li.empty {
color:#a39c82;
font-size:14pt;
padding:15px;
text-align:center;
}

#quotes li > header {
cursor:pointer;
}

#quotes li .name {
color:#fbfbf7;
padding:15px;
}

#quotes li .links {
color:#fffefa;
cursor:default;
float:right;
padding:15px;
}

#quotes li .links a {
color:#a09986;
}

#quotes li .less {
display:none;
}

#quotes li .savespan {
display:none;
}

#quotes li .details {
display:none;
padding:0 15px 15px;
}

#quotes li .details div:not(:first-child) {
margin-top:2px;
}

#quotes li label {
color:#9d9a86;
display:block;
float:left;
margin-right:6px;
padding-top:4px;
text-align:right;
width:50px;
}

#quotes li label:after {
content:": ";
}

#quotes li input,
#quotes li textarea {
background-color:transparent;
border:solid 1px transparent;
color:#faf9f4;
outline:0;
padding:4px;
-webkit-transition:border-color .2s;
width:400px;
}

#quotes li input:hover,
#quotes li input:focus,
#quotes li textarea:hover,
#quotes li textarea:focus {
border:solid 1px #faf9f4;
}

#quotes li textarea {
height:180px;
resize:none;
}

#quotes li .quotelist {
color:white;
padding:5px 20px 20px;
word-wrap:break-word;
}

#quotes li .quotename {
color:#a39c82;
cursor:pointer;
position:relative;
}

#quotes li .quotename:hover {
color:#8f886c;
}

#quotes li .quotequote {
text-align:justify;
text-justify:inter-word;
}

#quotes li .quoteuser {
position:absolute;
right:0;
top:0;
}

#quotes li .quoteuser .quoteowner {
line-height:1.5;
margin-right:30px;
}

#quotes li .quoteuser .blankprofile {
height:20px;
position:absolute;
right:0;
top:0;
width:20px;
}

footer {
color:#b2adaa;
font-size:10pt;
margin:20px;
}

.backtotop-link {
color:#a09986;
display:inline-block;
float:right;
}

#login-button,
#logout-button {
display:none;
left:10px;
position:absolute;
top:12px;
}

.authpanel.lightbox {
background-color:#999;
background-image:linear-gradient(bottom,#bdbdbd 22%,#999 50%,#bdbdbd 100%);
background-image:-o-linear-gradient(bottom,#bdbdbd 22%,#999 50%,#bdbdbd 100%);
background-image:-moz-linear-gradient(bottom,#bdbdbd 22%,#999 50%,#bdbdbd 100%);
background-image:-ms-linear-gradient(bottom,#bdbdbd 22%,#999 50%,#bdbdbd 100%);
background-image:-webkit-linear-gradient(bottom,#bdbdbd 22%,#999 50%,#bdbdbd 100%);
background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0.22,#bdbdbd),color-stop(0.5,#999),color-stop(1,#bdbdbd));
height:100%;
left:0;
opacity:.95;
position:absolute;
top:0;
visibility:hidden;
width:100%;
z-index:100;
}

#authpanel.modal {
background:#ccc;
border:solid 2px #fff;
border-radius:8px;
-moz-border-radius:8px;
-webkit-border-radius:8px;
box-shadow:#666 0 2px 3px;
-moz-box-shadow:#666 0 2px 3px;
-webkit-box-shadow:#666 0 2px 3px;
padding:10px;
z-index:200;
}

#authpanel #register {
display:none;
}

#authpanel #login > header,#authpanel #register > header {
cursor:default;
font-weight:bold;
margin:10px;
padding-bottom:12px;
text-align:center;
}

#authpanel #f_login > div,#authpanel #f_register > div {
margin:10px;
}

#authpanel label {
display:inline-block;
width:11em;
}

#authpanel input[type="text"],#authpanel input[type="password"],#authpanel input[type="email"] {
width:250px;
}

#authpanel #f_login input,#authpanel #f_register input,#authpanel #f_register select,#authpanel .buttonTools input {
background-image:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#fff));
background-image:-moz-linear-gradient(top,#fff,#fff);
border:1px solid #717171;
border-radius:3px;
-khtml-border-radius:3px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
box-shadow:1px 1px 0 #efefef;
-khtml-box-shadow:1px 1px 0 #efefef;
-moz-box-shadow:1px 1px 0 #efefef;
-webkit-box-shadow:1px 1px 0 #efefef;
color:#444;
filter:alpha(opacity=100);
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=100)";
font-size:11pt;
outline:none;
opacity:1;
-khtml-opacity:1;
-moz-opacity:1;
padding:5px;
text-shadow:0 1px 0 #666;
}

#authpanel #f_login input:focus,#authpanel #f_register input:focus {
box-shadow:0 0 5px #007eff;
-khtml-box-shadow:0 0 5px #007eff;
-moz-box-shadow:0 0 5px #007eff;
-webkit-box-shadow:0 0 5px #007eff;
}

#authpanel #f_login input.error,#authpanel #f_register input.error {
box-shadow:0 0 5px #ff4848;
-khtml-box-shadow:0 0 5px #ff4848;
-moz-box-shadow:0 0 5px #ff4848;
-webkit-box-shadow:0 0 5px #ff4848;
}

#authpanel .buttonTools {
height:30px;
margin-top:5px;
}

#authpanel .buttonTools ul.lfloat li:first-child input {
background-color:#4d90fe;
background-image:linear-gradient(top,#4d90fe,#4787ed);
background-image:-o-linear-gradient(top,#4d90fe,#4787ed);
background-image:-moz-linear-gradient(top,#4d90fe,#4787ed);
background-image:-ms-linear-gradient(top,#4d90fe,#4787ed);
background-image:-webkit-linear-gradient(top,#4d90fe,#4787ed);
border:1px solid #3079ed;
color:#fff;
}

#authpanel .buttonTools ul.rfloat li:last-child input {
background-color:#3d9400;
background-image:linear-gradient(top,#3d9400,#398a00);
background-image:-o-linear-gradient(top,#3d9400,#398a00);
background-image:-moz-linear-gradient(top,#3d9400,#398a00);
background-image:-ms-linear-gradient(top,#3d9400,#398a00);
background-image:-webkit-linear-gradient(top,#3d9400,#398a00);
border:1px solid #29691d;
color:#fff;
filter:alpha(opacity=50);
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=50)";
opacity:0.5;
-khtml-opacity:0.5;
-moz-opacity:0.5;
}

#authpanel .buttonTools ul li {
float:left;
}

#authpanel .buttonTools ul li:not(:first-child) {
margin-left:5px;
}

#authpanel .buttonTools label {
display:block;
width:100%;
}

#authpanel .buttonTools input:not(:disabled) {
cursor:pointer;
}

.button > a,
.button > button {
background-color:#f5f5f5;
border:1px solid #dedede;
border-left:1px solid #eee;
border-top:1px solid #eee;
color:#565656;
cursor:pointer;
display:block;
float:left;
font-family:"lucida grande", tahoma, arial, verdana, sans-serif;
font-size:10pt;
font-weight:bold;
line-height:130%;
margin:0;
padding:5px 10px 6px 7px;
text-decoration:none;
}

.button > button {
overflow:visible;
padding:4px 10px 3px 7px;
width:auto;
}

.button > button[type] {
line-height:17px;
padding:5px 10px 5px 7px;
}

*:first-child+html .button > button[type] {
padding:4px 10px 3px 7px;
}

.button > a img,
.button > button img {
border:none;
height:16px;
margin:0 3px -3px 0 !important;
padding:0;
width:16px;
}

/* STANDARD */

.button > button:hover,
.button > a:hover {
background-color:#dff4ff;
border:1px solid #c2e1ef;
color:#336699;
}

.button > a:active {
background-color:#6299c5;
border:1px solid #6299c5;
color:#fff;
}

/* POSITIVE */

.button > button.positive,
.button > a.positive {
color:#529214;
}

.button > a.positive:hover,
.button > button.positive:hover {
background-color:#e6efc2;
border:1px solid #c6d880;
color:#529214;
}

.button > a.positive:active {
background-color:#529214;
border:1px solid #529214;
color:#fff;
}

/* NEGATIVE */

.button > a.negative,
.button > button.negative {
color:#d12f19;
}

.button > a.negative:hover,
.button > button.negative:hover {
background:#fbe3e4;
border:1px solid #fbc2c4;
color:#d12f19;
}

.button > a.negative:active {
background-color:#d12f19;
border:1px solid #d12f19;
color:#fff;
}