body {
  font-family: monospace;
  line-height: 1.7;
}

#content {
  margin: 0 auto;
  max-width: 90%;
  text-align: center;
  width: 980px;
}

#randomIceBreaker {
  color: #dbcdf0;
  font-weight: bold;
}

input[type='text'] {
  border: 0 none;
  font-family: Consolas, 'courier new', courier, monospace;
  font-size: 16px;
  margin: 5px;
  max-width: 80%;
  outline: 1px solid #dbcdf0;
  padding: 5px;
  width: 970px;
}

mark {
  background: #dbcdf0;
  padding: 0 2px 2px;
}
