/* comic-mono-latin-400-normal */
@font-face {
  font-display: swap;
  font-family: 'Comic Mono';
  font-style: normal;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/comic-mono@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/comic-mono@latest/latin-400-normal.woff) format('woff');
}
