body {
    background-color: #fafafa;
    margin: 0;
    padding: 0;
}

body.gameInProgress {
    background-color: rgb(130, 170, 230);
}

.clearfix:after {
    clear: both;
    content: "";
    display: block;
}

.disable-user-select,
.disable-user-select:focus {
    cursor: default;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.disable-user-select::-moz-selection,
.disable-user-select::selection {
    background: transparent;
}

#registrationContent,
#restrictedContent {
    display: none;
}
